<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'/>
    <title>ip address</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
  <div class="row" style="margin-top: 20px;">
  <h2 style="text-align: center;">ip address: {{ index  .response_json "ClientIp" }}</h2>
    <ul class="list-group">
      <li class="list-group-item">IP: {{ index  .response_json "ClientIp" }}</li>
      <li class="list-group-item">RealIp: {{ index  .response_json "RealIp" }}</li>
      <li class="list-group-item">Method: {{ index  .response_json "Method" }}</li>
      <li class="list-group-item">RequestURI: {{ index  .response_json "RequestURI" }}</li>
      <li class="list-group-item">RequestJson: {{ index  .response_json "RequestJson" }}</li>
    </ul>
<table class="table table-bordered" style="margin-top: 20px;">
  <tr>
    <th>Header</th>
    <th>Value</th>
  </tr>
  {{ range $key, $value := .Header }}
  <tr>
     <td>{{ $key }}</td>
     <td>{{ $value }}</td>
     </tr>
  {{ end }}
</table>
</div>
</div>
</body>
</html>